absl-py==0.6.1
astor==0.7.1
beautifulsoup4==4.6.3
certifi==2018.11.29
chardet==3.0.4
gast==0.2.0
grpcio==1.17.1
h5py==2.8.0
idna==2.8
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
lxml==4.2.5
Markdown==3.0.1
numpy==1.15.4
pandas==0.23.4
patsy==0.5.1
protobuf==3.6.1
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
requests==2.21.0
schedule==0.5.0
scikit-learn==0.20.1
scipy==1.2.0
six==1.12.0
sklearn==0.0
statsmodels==0.9.0
tensorboard==1.12.1
tensorflow==1.12.0
termcolor==1.1.0
urllib3==1.24.1
Werkzeug==0.14.1
